# Ignore temporary files
*.pyc
__pycache__/
*.db
temp_scene.xml
.vscode/
bin/
include/
lib/
model/
mujoco_menagerie-main/
*.zip
*.tar.gz
*.exe
*.dll
*.spec
MUJOCO_LOG.TXT
dist/
build/
uploads/
generated_photo_scene.xml
mujoco_repo/
mujoco_menagerie/
mujoco_menagerie_latest/
mujoco_menagerie_new/
temp_menagerie/
